@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/*GLOBAL STYLES*/
/* ---------------------------------------- */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: #f6f6f6;
  font-family: 'Oxygen', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}

.profile-img {
  width: 200px;
  border-radius: 100%;
  border: black solid 2px;
}

.btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  border: black solid 2px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: #f6f6f6;
  border: #f6f6f6 solid 2px;
  border-radius: 10px;
}

/* NAVIGATION */
/* ---------------------------------------- */

.navigation {
  position: fixed;
  width: 100%;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-menu {
  display: flex;
  position: fixed;
  left: -100%;
  padding: 0;
  top: 85px;
  width: 100%;
  flex-direction: column;
  background-color: white;
}

.nav-header {
  width: 100%;
}

.nav-header h1 {
  font-weight: bold;
}

.nav-menu.active {
  left: 0;
}

.nav-link {
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 15px 20px;
}

.nav-link a:hover {
  font-weight: bold;
}

#hamburger-icon {
  width: 45px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #hamburger-icon {
    display: none;
  }

  .nav-menu {
    position: static;
    left: 0;
    flex-direction: row;
    justify-content: end;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    max-width: 800px;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
  }
}

/* HOME */
/* ---------------------------------------- */
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-container {
  /* height: 100vh; */
  flex: 1;
  margin: 0 20px;
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-container h1 {
  font-weight: bold;
}

.home-container div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.home-container div h2 {
  margin: 5px 0;
}

@media screen and (min-width: 500px) {
  .home-container {
    margin: auto;
    margin-top: 85px;
    max-width: 768px;
  }
}

/* RESUME */
/* ---------------------------------------- */
.resume-container {
  flex: 1;
  margin: 0 20px;
  margin-top: 85px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.resume-profile {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.resume-profile-icon {
  text-align: center;
}

.resume-profile div {
  margin-bottom: 5px;
}

.resume-profile h1 {
  margin: 5px 0;
  font-weight: bold;
}

.resume-header h1 {
  font-weight: bold;
}

section span {
  display: block;
  border-top: solid 1px black;
  margin: 10px 0;
  width: 100%;
}

.resume-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.resume-section h2 {
  font-weight: bold;
}

.resume-content-item {
  margin-bottom: 10px;
}

.resume-profile-skills ul {
  /* text-decoration: none; */
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.resume-profile-skills h2 {
  /* text-decoration: none; */
  margin: 5px 0;
  font-weight: bold;
}

.resume-profile-skills ul li {
  color: white;
  background-color: black;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 10px;
  display: inline-block;
}

.resume-content-item-extra {
  margin-top: 10px;
  font-size: 1.15rem;
}

.resume-content-btn {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  border: black solid 2px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

.resume-content-btn:hover {
  background-color: black;
  color: #f6f6f6;
  border: #f6f6f6 solid 2px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .resume-container {
    flex-direction: row;
  }

  .resume-profile {
    max-width: 250px;
    margin-right: 15px;
  }

  .resume-profile h1 {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .resume-container {
    margin: 0 auto;
    margin-top: 85px;
    max-width: 800px;
  }
}

/* PROJECTS */
/* ---------------------------------------- */
.project-header {
  width: 100%;
}

.project-header h1 {
  font-weight: bold;
}

.project-header span {
  display: block;
  border-top: solid 1px black;
  margin: 10px 0;
  width: 100%;
}

.project-section {
  width: 100%;
}

.project-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  max-width: 700px;
  margin-bottom: 10px;
}

.project-item-img img {
  width: 100%;
  height: auto;
  max-width: 700px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-item-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.project-item-content h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.project-item-content-tag ul {
  /* text-decoration: none; */
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.project-item-content-tag ul li {
  color: white;
  background-color: black;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 10px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }

  .project-item {
    width: 100%;
    max-width: 980px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .project-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  .project-item-img {
    width: 100%;
    max-width: 300px;
  }

  .project-item-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}

/* FOOTER */
/* ---------------------------------------- */
footer {
  text-align: center;
  font-size: 1.4rem;
  /* margin: 20px 0; */
  margin-top: auto;
}

footer div:first-child {
  margin: 10px 0;
}

footer p {
  margin: 5px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 25px;
  margin: 0 5px;
  cursor: pointer;
}
