@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/*GLOBAL STYLES*/
/* ---------------------------------------- */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: #f6f6f6;
  font-family: 'Oxygen', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  border: black solid 2px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: #f6f6f6;
  border: #f6f6f6 solid 2px;
  border-radius: 10px;
}

/* NAVIGATION */
/* ---------------------------------------- */
.navigation {
  background-color: white;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navigation svg {
  width: 45px;
  cursor: pointer;
}

.navigation svg:hover {
  color: #f6f6f6;
  background-color: black;
  border-radius: 10px;
}

.navigation nav {
  display: none;
}

.navigation h1 {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .navigation svg {
    display: none;
  }

  .navigation nav {
    display: flex;
    align-items: center;
  }

  .navigation ul {
    padding: 0;
  }

  .navigation li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.6rem;
    cursor: pointer;
  }

  .navigation li:hover {
    font-weight: bold;
  }
}

@media screen and (min-width: 1024px) {
  .navigation-container {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
}

/* HOME */
/* ---------------------------------------- */
.home {
  display: flex;
  flex-direction: column;
}

.home-container {
  height: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-container h1 {
  font-weight: bold;
}

.home-container img {
  width: 200px;
  border-radius: 100%;
  border: black solid 2px;
}

.home-container div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.home-container div h2 {
  margin: 5px 0;
}

@media screen and (min-width: 500px) {
  .home-container {
    margin: auto;
    max-width: 450px;
  }
}

/* FOOTER */
/* ---------------------------------------- */
footer {
  text-align: center;
  margin: 20px 0;
}
