@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/*GLOBAL STYLES*/
/* ---------------------------------------- */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: #f6f6f6;
  font-family: 'Oxygen', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  border: black solid 2px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: #f6f6f6;
  border: #f6f6f6 solid 2px;
  border-radius: 10px;
}

/* NAVIGATION */
/* ---------------------------------------- */

.navigation {
  position: fixed;
  width: 100%;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-menu {
  display: flex;
  position: fixed;
  left: -100%;
  padding: 0;
  top: 85px;
  width: 100%;
  flex-direction: column;
  background-color: white;
}

.nav-header {
  width: 100%;
}

.nav-header h1 {
  font-weight: bold;
}

.nav-menu.active {
  left: 0;
}

.nav-link {
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 15px 20px;
}

.nav-link a:hover {
  font-weight: bold;
}

#hamburger-icon {
  width: 45px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #hamburger-icon {
    display: none;
  }

  .nav-menu {
    position: static;
    left: 0;
    flex-direction: row;
    justify-content: end;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    max-width: 900px;
    margin: auto;
  }
}

/* HOME */
/* ---------------------------------------- */
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-container {
  /* height: 100vh; */
  flex: 1;
  margin: 0 20px;
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-container h1 {
  font-weight: bold;
}

.home-container img {
  width: 200px;
  border-radius: 100%;
  border: black solid 2px;
}

.home-container div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.home-container div h2 {
  margin: 5px 0;
}

@media screen and (min-width: 500px) {
  .home-container {
    margin: auto;
    margin-top: 85px;
    max-width: 768px;
  }
}

/* RESUME */
/* ---------------------------------------- */
.resume-container {
  flex: 1;
  margin: 0 20px;
  margin-top: 85px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

section span {
  display: block;
  border-top: solid 1px black;
  margin: 5px 0;
  width: 100%;
}

.resume-section {
  display: flex;
  flex-direction: column;
}

/* PROJECTS */
/* ---------------------------------------- */

/* FOOTER */
/* ---------------------------------------- */
footer {
  text-align: center;
  font-size: 1.4rem;
  /* margin: 20px 0; */
  margin-top: auto;
}

footer div:first-child {
  margin: 10px 0;
}

footer p {
  margin: 5px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 25px;
  margin: 0 5px;
  cursor: pointer;
}
